src/EntryPoints/Schemas/BalanceRequest.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BalanceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AccountNumber" type="xs:string"/>
        <xs:element name="AccountType" type="xs:string"/>
        <xs:element name="AccountProvider" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
